body {
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", serif;
  font-size: 16px;
  line-height: 1.5;
  color: #f7f7f7;
  background-color: #29282D;
  padding: 0 50px;
}

.pmd {
  max-width: 500px;
  margin: 0 auto 20px;
}
.image-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-text-container img {
  height: auto;
  max-width: 100%;
  margin-right: 10px;
}

h1 {
  font-size: 4em;
  text-align: center;
  background-color: #29282D;
  color: #fff;
  padding: 20px;
}


h2, h3 {
  text-align: center;
}

form {
  margin-top: 20px;
}

form div {
  margin-bottom: 20px;
  max-width: 500px;
  margin: 0 auto 20px;
}

h3 {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}


.button-wrapper {
  text-align: center;
}
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

button:hover {
  background-color: #0069d9;
}

input[type="text"],
input[type="checkbox"] {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  max-width: 500px; 
  box-sizing: border-box; 
}


form label {
  word-wrap: break-word;
}
